.godot/
.import/
*.import
*.translation
export.cfg
export_presets.cfg
mono_crash.*.json
.mono/
data_*/
.godot/editor_layout.cfg
build/
dist/
out/
exports/
*.pck
*.x86_64
*.x86_32
*.app
*.exe
*.apk
*.aab
*.ipa
*.dmg
*.zip
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*~
.directory
.Trash-*
.vscode/
*.code-workspace
.idea/
*.iml
*.swp
*.swo
*~
\#*\#
.\#*
*.sublime-project
*.sublime-workspace
*.log
*.tmp
*.bak
*.orig
*.blend1
*.blend2
